html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #e2e3e4;
  background-image: url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 60%;
  text-align: center;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  body {
    background-position: 65% 60%;
  }
}
