<section class="contract" id="contract">
  <div class="container">
    <div class="contract__wrapper">
      <h2 class="contract__title">BTDP Contract</h2>

      <!-- Add your image here -->
      <img
        class="contract__image"
        src="./images/certificate.jpg"
        alt="FusionTech Certificate"
      />

      <p class="contract__text" id="contractText">
        0x15caa5F46fb7A62A39277c73b287Fca7B7cDF458
      </p>
      <button class="contract__button" id="copyButton">Copy Contract</button>
    </div>
  </div>
</section>
