<section class="dip-calls" id="dip-calls">
  <div class="container">
    <div class="dip-calls__wrapper">
      <h2 class="dip-calls__title">Dip Calls</h2>
      <div class="audio-player">
        <h3 class="audio-player__title">Last Audio</h3>
        <div class="audio-player">
          <audio class="myAudio" id="myAudio" controls>
            <source src="./images/audios/record.ogg" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </div>
        <p class="audio-player__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus,
          quo.
        </p>
      </div>
    </div>
  </div>
</section>
