<section class="dip-calls" id="dip-calls">
  <div class="container">
    <div class="dip-calls__wrapper">
      <h2 class="dip-calls__title">Dip Calls</h2>
      <div class="player">
        <div class="player__wrapper">
          <h3 class="player__title">AMA</h3>
          <audio class="player__audio" id="myAudio" controls>
            <source src="./images/audios/record.mp3" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
          <p class="player__text">In the BuyTheDip Telegram Group 29.10.2023</p>
        </div>
      </div>
    </div>
  </div>
</section>
