<footer class="footer" id="community">
  <div class="container">
    <ul class="socials">
      <li class="socials__item">
        <a
          class="socials__link"
          href="https://t.me/+BJ29ql15g7tkYWEy"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials__icon" width="40" height="40">
            <use href="./images/sprite.svg#icon-Telegram_black"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link"
          href="https://twitter.com/BuyTheDip_BTDP"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials__icon" width="40" height="40">
            <use href="./images/sprite.svg#icon-Twitter_black"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__copy">&copy; BuyTheDip All Rights Reserved.</p>
    <!-- <p class="footer__copy">Created by Roman Fausel</p> -->
  </div>
</footer>
