<footer class="footer" id="community">
  <div class="container">
    <ul class="socials">
      <li class="socials__item">
        <a
          class="socials__link"
          href="mailto:team@buythedip.space"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials__icon" width="40" height="40">
            <use href="./images/sprite.svg#icon-mail"></use>
          </svg>
        </a>
      </li>

      <li class="socials__item">
        <a
          class="socials__link"
          href="https://t.me/buythedip_portal"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials__icon" width="40" height="40">
            <use href="./images/sprite.svg#icon-Telegram_black"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link"
          href="https://twitter.com/BuyTheDip_BTDP"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials__icon" width="40" height="40">
            <use href="./images/sprite.svg#icon-Twitter_black"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__copy">&copy; BuyTheDip All Rights Reserved.</p>
    <p class="footer__copy">
      Designed and Developed by
      <a class="footer__copy--link" href="https://t.me/roman_cologne"
        >RoMaN-CoLoGnE &#128540</a
      >
    </p>
  </div>
</footer>
