<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <h1 class="hero__title">A next Generation Reward Token</h1>

      <!-- Логотип -->
      <img class="hero__img" src="./images/logo.png" alt="Page Logo" />

      <!-- Часы городов -->
      <div class="city-time time-frankfurt">
        <p class="city-time__time" id="time-frankfurt"></p>
        <p class="city-time__city">Frankfurt</p>
      </div>

      <div class="city-time time-dubai">
        <p class="city-time__time" id="time-dubai"></p>
        <p class="city-time__city">Dubai</p>
      </div>

      <div class="city-time time-tokyo">
        <p class="city-time__time" id="time-tokyo"></p>
        <p class="city-time__city">Tokyo</p>
      </div>

      <div class="city-time time-sydney">
        <p class="city-time__time" id="time-sydney"></p>
        <p class="city-time__city">Sydney</p>
      </div>

      <div class="city-time time-los-angeles">
        <p class="city-time__time" id="time-los-angeles"></p>
        <p class="city-time__city">Los Angeles</p>
      </div>

      <div class="city-time time-new-york">
        <p class="city-time__time" id="time-new-york"></p>
        <p class="city-time__city">New York</p>
      </div>

      <div class="city-time time-bangkok">
        <p class="city-time__time" id="time-bangkok"></p>
        <p class="city-time__city">Bangkok</p>
      </div>

      <div class="city-time time-auckland">
        <p class="city-time__time" id="time-auckland"></p>
        <p class="city-time__city">Auckland</p>
      </div>
    </div>
  </div>
</section>
