<section class="launch" id="launch-info">
  <div class="container">
    <div class="launch__wrapper">
      <h2 class="launch__title">Launch Info</h2>
      <video class="launch__video" controls>
        <source src="./images/videos/video-1.MP4" type="video/mp4" />
        "Your browser does not support the video format."
      </video>
      <div class="countdown" id="countdown">
        <h4 class="countdown__title">We launched:</h4>
        <span class="countdown__time"></span>
      </div>
      <ul class="launch__list">
        <li class="launch__label">
          <span class="launch__item-label">Launch</span>
          <span class="launch__item-label">Presale</span>
          <span class="launch__item-label">Ticker</span>
          <span class="launch__item-label">Blockchain</span>
          <span class="launch__item-label">Price</span>
          <span class="launch__item-label">Total Supply</span>
          <span class="launch__item-label">Initial Market Cap</span>
          <span class="launch__item-label">Reward</span>
          <span class="launch__item-label">Launch</span>
        </li>
        <li class="launch__label">
          <span class="launch__item-label">&#8212;</span>
          <span class="launch__item-label">&#8212;</span>
          <span class="launch__item-label">&#8212;</span>
          <span class="launch__item-label">&#8212;</span>
          <span class="launch__item-label">&#8212;</span>
          <span class="launch__item-label">&#8212;</span>
          <span class="launch__item-label">&#8212;</span>
          <span class="launch__item-label">&#8212;</span>
          <span class="launch__item-label">&#8212;</span>
        </li>
        <li class="launch__info">
          <span class="launch__item-info">12.11.2023 8:30p.m(M.E.T)</span>
          <span class="launch__item-info">35 Slots</span>
          <span class="launch__item-info">BTDP</span>
          <span class="launch__item-info">BSC</span>
          <span class="launch__item-info">$0,00000000001</span>
          <span class="launch__item-info">999.990.958.407.043</span>
          <span class="launch__item-info">$10.000</span>
          <span class="launch__item-info">5% Toncoin</span>
          <span class="launch__item-info">Pancakeswap</span>
        </li>
      </ul>
      <ul class="launch__logo-list">
        <li class="launch__item">
          <a href="" class="launch__link">
            <img
              class="launch__img"
              src="./images/logos/binance-logo.png"
              alt="Binance-Smart-Chain Logo"
              width="120"
            />
          </a>
        </li>
        <li class="launch__item">
          <a href="" class="launch__link">
            <img
              class="launch__img"
              src="./images/logos/cakeswap-logo.png"
              alt="PancakeSwap Logo"
            />
          </a>
        </li>
        <li class="launch__item">
          <a href="" class="launch__link">
            <img
              class="launch__img"
              src="./images/logos/ton-logo.png"
              alt="Toncoin Logo"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
