<section class="launch" id="launch-info">
  <div class="container">
    <div class="launch__wrapper">
      <h2 class="launch__title">Launch Info</h2>

      <iframe
        class="launch__video"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/zq-WX4GJUX0?si=pNPEIxYW3b9PCj34"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>

      <div class="countdown" id="countdown">
        <h4 class="countdown__title">We launched:</h4>
        <span class="countdown__time"></span>
      </div>
      <ul class="launch__list">
        <li class="launch__item-label">Ticker &#10033; BTDP</li>
        <li class="launch__item-label">Blockchain &#10033; BSC</li>
        <li class="launch__item-label">
          Total Supply &#10033; 999.990.958.407.043
        </li>
        <li class="launch__item-label">Reward &#10033; 5% Toncoin</li>
        <li class="launch__item-label">Launch &#10033; Pancakeswap</li>
        <li class="launch__item-label">
          Liquidity &#10033; Locked for 6 month
        </li>
      </ul>
      <ul class="launch__logo-list">
        <li class="launch__item">
          <a href="" class="launch__link">
            <img
              class="launch__img"
              src="./images/logos/binance-logo.png"
              alt="Binance-Smart-Chain Logo"
              width="120"
            />
          </a>
        </li>
        <li class="launch__item">
          <a href="" class="launch__link">
            <img
              class="launch__img"
              src="./images/logos/cakeswap-logo.png"
              alt="PancakeSwap Logo"
            />
          </a>
        </li>
        <li class="launch__item">
          <a href="" class="launch__link">
            <img
              class="launch__img"
              src="./images/logos/ton-logo.png"
              alt="Toncoin Logo"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
