<section class="launch">
  <div class="container">
    <div class="launch__wrapper">
      <h2 class="launch__title">Launch Q2 2023</h2>
      <ul class="launch__list">
        <li class="launch__label">
          <span class="launch__item-label">Ticker -&nbsp;</span>
          <span class="launch__item-label">Blockchain -&nbsp;</span>
          <span class="launch__item-label">Price -&nbsp;</span>
          <span class="launch__item-label">Total Supply -&nbsp;</span>
          <span class="launch__item-label">Initial Market Cap -&nbsp;</span>
          <span class="launch__item-label">Reward -&nbsp;</span>
          <span class="launch__item-label">Launch -&nbsp;</span>
        </li>
        <li class="launch__info">
          <span class="launch__item-info">BTDP</span>
          <span class="launch__item-info">BSC</span>
          <span class="launch__item-info">$0,00000000001</span>
          <span class="launch__item-info">999.990.958.407.043</span>
          <span class="launch__item-info">$10.000</span>
          <span class="launch__item-info">5% Toncoin</span>
          <span class="launch__item-info">Pancakeswap</span>
        </li>
      </ul>
      <ul class="launch__logo-list">
        <li class="launch__item">
          <a href="" class="launch__link">
            <img
              class="launch__img"
              src="./images/logos/binance-logo.png"
              alt="Binance-Smart-Chain Logo"
              width="120"
            />
          </a>
        </li>
        <li class="launch__item">
          <a href="" class="launch__link">
            <img
              class="launch__img"
              src="./images/logos/cakeswap-logo.png"
              alt="PancakeSwap Logo"
            />
          </a>
        </li>
        <li class="launch__item">
          <a href="" class="launch__link">
            <img
              class="launch__img"
              src="./images/logos/ton-logo.png"
              alt="Toncoin Logo"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
