<section class="links" id="links">
  <div class="container">
    <div class="links__wrapper">
      <h2 class="links__title">Links</h2>
      <ul class="links__list">
        <li class="links__item">
          <a
            class="links__link"
            href="https://pancakeswap.finance/"
            target="_blank"
            rel="noopener"
          >
            <img
              class="links__img"
              src="./images/logos/Pancakeswap/color-logo.png"
              alt="Logo 1"
            />
            <h3 class="link__title">Pancakeswap</h3>
          </a>
        </li>
        <li class="links__item">
          <a
            class="links__link"
            href="https://bscscan.com/"
            target="_blank"
            rel="noopener"
          >
            <img
              class="links__img"
              src="./images/logos/Bscan/bscscan-logo.png"
              alt="Logo 2"
            />
            <h3 class="link__title">bscscan</h3>
          </a>
        </li>
        <li class="links__item">
          <a
            class="links__link"
            href="https://coinmarketcap.com/"
            target="_blank"
            rel="noopener"
          >
            <img
              class="links__img"
              src="./images/logos/CoinMarketCap/CoinMarketCap-logo.png"
              alt="Logo 3"
            />
            <h3 class="link__title">coinmarketcap</h3>
          </a>
        </li>
        <li class="links__item">
          <a
            class="links__link"
            href="https://ton.org/"
            target="_blank"
            rel="noopener"
          >
            <img
              class="links__img"
              src="./images/logos/Ton Coin/ton-logo.png"
              alt="Logo 4"
            />
            <h3 class="link__title">ton</h3>
          </a>
        </li>
        <li class="links__item">
          <a
            class="links__link"
            href="https://poocoin.app/"
            target="_blank"
            rel="noopener"
          >
            <img
              class="links__img"
              src="./images/logos/Poocoin/poocoin-logo.png"
              alt="Logo 5"
            />
            <h3 class="link__title">poocoin</h3>
          </a>
        </li>
        <li class="links__item">
          <a
            class="links__link"
            href="https://www.dextools.io/app/en/bnb/pairs"
            target="_blank"
            rel="noopener"
          >
            <img
              class="links__img"
              src="./images/logos/Dextools/dextools-logo.png"
              alt="Logo 6"
            />
            <h3 class="link__title">dextools</h3>
          </a>
        </li>
        <li class="links__item">
          <a
            class="links__link"
            href="https://www.crypto-gainer.de/"
            target="_blank"
            rel="noopener"
          >
            <img
              class="links__img"
              src="./images/logos/crypto-gainer/Logo.png"
              alt="Logo 7"
            />
            <h3 class="link__title">crypto-gainer</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
