<section class="partners" id="partners">
  <div class="container">
    <div class="partners__wrapper">
      <h2 class="partners__title">Partners</h2>
      <img
        class="partners__image"
        src="./images/partner_dxsale.jpg"
        alt="Partnership Image"
      />

      <a
        class="partners__link"
        href="https://www.dxsale.network/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <p class="partners__text">Visit our Website</p>
      </a>
      <button id="partners__button" class="partners__button">
        Partner Info
      </button>
      <div id="partnersModal" class="modal">
        <div id="partnersContent" class="modal-content">
          <h2 class="modal__title">Partnership Info</h2>
          <h3 class="modal__subtitle">About Dx</h3>
          <p class="modal__text">
            Founded in 2020 in response to DeFi fraud, Dx has evolved into a
            powerhouse platform. Their flagship products include DxMint for
            secure tokens, DxSale for easy crowdsales, and DxLock for automatic
            fund locking. Rebranded as Dx, they aspire to be the "Apple of Web
            3.0," with a focus on NFTs and gaming. The $ SALE token is utilized
            for platform utility and governance, while they actively seek
            partners for ecosystem expansion.
          </p>

          <h3 class="modal__subtitle">What sets Dx apart</h3>
          <p class="modal__text">
            Decentralized Launchpad: Dx is a pioneer in decentralized
            launchpads.
          </p>
          <p class="modal__text">
            One Token, One Supply, Infinite Chains: Seamless interaction with a
            token across different blockchains.
          </p>
          <p class="modal__text">
            Supported Networks: Ethereum, Binance Smart Chain, and Polygon are
            flexibly supported.
          </p>
          <p class="modal__text">
            Dedicated Team: Dx shines with a highly motivated and experienced
            team.
          </p>
          <p class="modal__text">
            This partnership opens doors for us and our clients to access
            innovative DeFi solutions. Together with Dx, we are shaping the
            future of decentralized finance. We are confident that this
            collaboration will bear fruit and look forward to diving into the
            exciting world of Dx with you.
          </p>
          <button id="partnersClose" class="close">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>
