<section class="roadmap" id="project">
  <div class="container">
    <div class="project__wrapper">
      <h1 class="project__title">Roadmap</h1>
      <div class="phase__wrapper">
        <div class="phase__wrapper--left">
          <h2 class="phase__title--1">Phase 1</h2>
          <div class="phase__list-wrapper">
            <h3 class="phase__subtitle">Founding</h3>
            <ul class="phase__list">
              <li class="phase__item">Team building</li>
              <li class="phase__item">Concept development</li>
              <li class="phase__item">Private Sale</li>
              <li class="phase__item">Tokenomics</li>
              <li class="phase__item">Whitepaper</li>
              <li class="phase__item">Roadmap</li>
              <li class="phase__item">Website</li>
            </ul>
          </div>
        </div>

        <div class="phase__wrapper--right">
          <h2 class="phase__title--2">Phase 2</h2>
          <div class="phase__list-wrapper">
            <h3 class="phase__subtitle">Community Building</h3>
            <ul class="phase__list">
              <li class="phase__item">Publish Website</li>
              <li class="phase__item">Publish Telegram</li>
              <li class="phase__item">Publish Twitter</li>
              <li class="phase__item">Start Promotion</li>
              <li class="phase__item">Start Presale-competition</li>
            </ul>
          </div>
        </div>

        <div class="phase__wrapper--left">
          <h2 class="phase__title--3">Phase 3</h2>
          <div class="phase__list-wrapper">
            <h3 class="phase__subtitle">Launch</h3>
            <ul class="phase__list">
              <li class="phase__item">Launch on PancakeSwap</li>
              <li class="phase__item">100 BTDP Holder</li>
              <li class="phase__item">First Marketingcampaing</li>
              <li class="phase__item">200 BTDP Holder</li>
              <li class="phase__item">Second Marketingcampaing</li>
            </ul>
          </div>
        </div>

        <div class="phase__wrapper--right">
          <h2 class="phase__title--4">Phase 4</h2>
          <div class="phase__list-wrapper">
            <h3 class="phase__subtitle">Solidify</h3>
            <ul class="phase__list">
              <li class="phase__item">Audit</li>
              <li class="phase__item">Big Marketingcampaing</li>
              <li class="phase__item">CG and CVC Listing</li>
              <li class="phase__item">500 BTDP Holder</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="whitepaper__wrapper">
      <button class="whitepaper__button" id="whitepaper__button">
        Whitepaper
      </button>
    </div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <h2 class="modal__title">Whitepaper</h2>

        <h3 class="modal__subtitle">About US</h3>
        <p class="modal__text">
          BuyTheDip is a community token whose logo and name carries a huge
          weight in CryptoSpace. Buy the Dip" is the strategy of buying
          cryptocurrencies "cheap" after a sharp drop in price. We want to take
          away the fear of falling prices from investors and encourage them to
          buy the dips. Our bull in the logo symbolizes an article from JP
          Morgan where it depicted the Charging Bull and wrote BuyTheDip as the
          headline. Our team has thought about creating a safe coin that gives
          all investors the guarantee not to invest in a scam.
        </p>

        <h3 class="modal__subtitle">Why Binance Smart Chain?</h3>
        <p class="modal__text">
          We have been observing for a long time that no strong projects are
          launching on the Binance Smart Chain. It is scammed everywhere is FUD
          and no dips are bought. The Binance Smart Chain is currently not in a
          good light. We want to change that. We want to encourage investors to
          hold the token, trade and buy dips through our unique combination of
          negative buytax and reflections. The low fees and very fast
          transactions also allow relaxed trading on the Binance Smart Chain.
        </p>

        <h3 class="modal__subtitle">Explanation</h3>
        <p class="modal__text">
          BuyTheDip is a community-driven token on the Binance Smart Chain (BSC)
          with deflationary features that pays out static rewards to holders
          (automatic return generation). BuyTheDip uses two simple functions:
          NegativeTax and Reflection .On each trade the buyer receives a tax of
          2%, on sale a SellTax of 12% is generated from which 5% Reflections
          are distributed in the form of TonCoin (TON). 2% is added to the
          liquidity pool on PancakeSwap to improve price stability. 5% of the
          Selltax goes into the marketing wallet to provide healthy price
          appreciation.
        </p>

        <h3 class="modal__subtitle">Why Toncoin (TON) as a reward token ?</h3>
        <p class="modal__text">
          The Toncoin (TON) also called Telegram token put at the end of the
          year 2022 a price increase of 65%. This was followed by a tweet from
          founder and Telegram CEO Pavel Durov confirming that Messenger was
          planning a decentralized crypto exchange and wallet. Shortly
          thereafter, The Open Network thus announced the launch of Megaton
          Finance, a multi-chain DEX built on the TON blockchain. ETH, WBTC,
          USDT or USDC are also to be tradable on this from January 2023. At the
          same time, three other decentralized exchanges are available on The
          Open Network. We assume that under these circumstances it could
          trigger a hype wave that makes the Toncoin pump. Therefore, the
          rewards will be distributed in Toncoin to maximize the profit from the
          increase of BuyTheDip token and the increase of Toncoin.
        </p>

        <button id="close" class="close">Close</button>
      </div>
    </div>
  </div>
</section>
