.logo {
  @include flex($fd: column);
  position: relative;
  margin-bottom: 20px;

  @media (min-width: 767.98px) {
    flex-direction: row;
  }

  &__img {
    width: 250px;
    height: auto;

    @media (min-width: 767.98px) {
      position: absolute;
      top: -20px;
      left: 200px;
      width: 110px;

      animation: spin 5s linear infinite;
      transform-style: preserve-3d;
      perspective: 1000px;
      transform: rotateY(0deg);
    }

    @media (min-width: 1199.98px) {
      top: -20px;
      left: -25px;
    }
  }

  &__team-name {
    font-family: 'VirtualRave', sans-serif;
    letter-spacing: 0.05em;
    font-size: 36px;

    @media (min-width: 767.98px) {
      font-size: 30px;
    }
    @media (min-width: 1199.98px) {
      margin-left: 75px;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}
