.hero {
  margin-bottom: 50px;
}

.hero__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  border-radius: 30px;
  background-color: #b1473436;
  box-shadow: 0 0 10px 3px #ff66004d;
  transition: all 0.5s ease-in-out;
  user-select: none;

  /* Mobile styles */
  @media (max-width: 767px) {
    padding: 10px;
  }

  @media (min-width: 767.98px) {
    flex-wrap: nowrap;
  }
}

.hero__title {
  font-family: 'VirtualRave', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  overflow: hidden;
  background: linear-gradient(to right, #ffffff, #c73920);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.7;
  mix-blend-mode: screen;
}

/* Large screens */
@media (min-width: 768px) {
  .hero__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .hero__title {
    font-size: 60px;
  }

  .hero__img {
    width: 50%;
  }
}
