.hero {
  margin-bottom: 30px;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
  background-color: #b1473436;
  box-shadow: 0 0 10px 3px #ff66004d;
  transition: all 0.5s ease-in-out;
  user-select: none;

  @media (min-width: 767.98px) {
    position: relative;

    &:hover,
    &:focus {
      box-shadow: 0 10px 20px rgba(17, 109, 162, 0.795);
    }
  }
}

.hero__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
  max-width: 80%;
  font-size: 50px;
  overflow: hidden;
  font-family: 'VirtualRave', sans-serif;
  background: linear-gradient(to right, #ffffff, #c73920);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__button-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero__button {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  font-family: VirtualRave, sans-serif;
  letter-spacing: 0.04em;
  font-size: 28px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px 5px rgba(255, 102, 0, 0.3);
  color: #e2e3e4;
  cursor: pointer;
}

.hero__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  opacity: 1; /* Ändere display zu opacity */
  pointer-events: none; /* Verhindere, dass das unsichtbare Menü anklickbar ist */
  z-index: 2;
  transition: opacity 0.5s ease-in-out;
  background-color: #20c726;
}

.hero__menu-button {
  display: block;
  width: 200px;
  padding: 10px;
  text-align: center;
  background-color: transparent;
  box-shadow: 0 0 10px 5px rgba(255, 102, 0, 0.3);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  font-family: VirtualRave, sans-serif;
  letter-spacing: 0.04em;
  color: #e2e3e4;
}

.hero__button-wrapper:hover .hero__menu {
  opacity: 1; /* Zeige das Menü */
  pointer-events: auto; /* Aktiviere Klicks auf das Menü */
}

.hero__img {
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.5;
  mix-blend-mode: screen;
}

.city-time {
  padding: 5px;
  margin: 5px;
  text-align: center;

  @media (min-width: 767.98px) {
    position: absolute;
  }
}

.city-time__city {
  font-size: 15px;
  color: currentColor;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.city-time__time {
  font-size: 20px;
  color: currentColor;
  font-weight: bold;
}

@media (min-width: 768px) {
  .hero__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .hero__title {
    font-size: 60px;
  }

  .hero__img {
    width: 50%;
  }
}

.time-frankfurt {
  @media (min-width: 767.98px) {
    top: 10px;
    left: 10px;
    opacity: 0.5;
    font-size: 20px;
  }

  @media (min-width: 1199.98px) {
    top: 10px;
    left: 30px;
    opacity: 0.5;
    font-size: 20px;
  }
}

.time-dubai {
  @media (min-width: 767.98px) {
    top: 160px;
    left: 70px;
    opacity: 1;
    font-size: 20px;
  }

  @media (min-width: 1199.98px) {
    top: 166px;
    left: 150px;
    opacity: 0.9;
    font-size: 20px;
  }
}

.time-tokyo {
  @media (min-width: 767.98px) {
    top: -33px;
    right: 32px;
    opacity: 0.5;
    font-size: 20px;
  }

  @media (min-width: 1199.98px) {
    top: 30px;
    right: 60px;
    opacity: 0.5;
    font-size: 20px;
  }
}

.time-sydney {
  @media (min-width: 767.98px) {
    top: 170px;
    right: -30px;
    opacity: 0.8;
    font-size: 20px;
  }

  @media (min-width: 1199.98px) {
    top: 218px;
    right: 6px;
    opacity: 0.8;
    font-size: 20px;
  }
}

.time-los-angeles {
  @media (min-width: 767.98px) {
    top: 300px;
    right: 80px;
    opacity: 0.5;
    font-size: 20px;
  }

  @media (min-width: 1199.98px) {
    top: 400px;
    right: 260px;
    opacity: 0.8;
    font-size: 20px;
  }
}

.time-new-york {
  @media (min-width: 767.98px) {
    bottom: 100px;
    right: 70px;
    opacity: 0.9;
    font-size: 20px;
  }
}

.time-bangkok {
  @media (min-width: 767.98px) {
    bottom: 260px;
    left: -16px;
    opacity: 0.8;
    font-size: 20px;
  }

  @media (min-width: 1199.98px) {
    bottom: 220px;
    left: 70px;
    opacity: 0.8;
    font-size: 20px;
  }
}

.time-auckland {
  @media (min-width: 767.98px) {
    bottom: 30px;
    left: 60px;
    opacity: 0.7;
    font-size: 20px;
  }

  @media (min-width: 1199.98px) {
    bottom: 20px;
    left: 300px;
    opacity: 1;
    font-size: 20px;
  }
}
