.launch {
  margin-bottom: 20px;
}
.launch__wrapper {
  padding: 20px;
  border-radius: 30px;
  background-color: #b1473436;
  box-shadow: 0 0 10px 3px #ff66004d;
  transition: all 0.5s ease-in-out;
  user-select: none;

  @media (min-width: 767.98px) {
    &:hover,
    &:focus {
      box-shadow: 0 10px 20px rgba(17, 109, 162, 0.795);
    }
  }
}
.launch__title {
  width: 100%;
  margin-bottom: 20px;
  font-family: VirtualRave, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.launch__video {
  width: 100%;
  max-width: 640px;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(17, 109, 162, 0.795);
}

.countdown {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(to right, #fff, #c73920);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;

  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.launch__list {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.launch__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: right;
}

.launch__item--minus {
  font-size: 30px;
}

.launch__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.launch__logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.launch__img {
  width: 150px;
}
