.trend-coins {
  margin-bottom: 30px;
}

.trend-coins__wrapper {
  padding: 20px;
  border-radius: 30px;
  background-color: #b1473436;
  box-shadow: 0 0 10px 3px #ff66004d;
  transition: all 0.5s ease-in-out;
  user-select: none;

  @media (min-width: 767.98px) {
    &:hover,
    &:focus {
      box-shadow: 0 10px 20px rgba(17, 109, 162, 0.795);
    }
  }
}

.trend-coins__title {
  margin-bottom: 5px;
  background: linear-gradient(to right, #fff, #c73920);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  font-family: VirtualRave, sans-serif;
  font-size: 42px;
}

.trend-coins__text {
  font-size: 16px;
  margin-bottom: 30px;
}

.trend-coins__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.trend-coins__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;

  padding: 15px;
  border-radius: 30px;

  font-size: 16px;

  box-shadow: 0 0 10px 3px #ff66004d;

  @media (min-width: 767.98px) {
    width: calc(
      50% - 25px
    ); /* для больших экранов каждый элемент будет занимать 50% ширины минус небольшой отступ */
    margin: 5px;
  }

  @media (min-width: 1199.98px) {
    width: calc(
      33.33% - 25px
    ); /* для еще больших экранов каждый элемент будет занимать 33.33% ширины минус небольшой отступ */
  }
}

.trend-coins__logo {
  width: 40px;
}
